* {
  box-sizing: border-box;
  margin: 0;
  border: 0;

  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-frame {
  display: flex;
  justify-content: center;

  width: 100%;

  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 12px;
}

@media only screen and (max-width >= 1920px) {
  .full-frame {
    max-width: 1920px;
  }
}

@media only screen and (max-width = 768px) {
  .full-frame {
    max-width: 768px;
  }
}

@media screen and (max-width = 500px) {
  .full-frame {
    max-width: 500px;
  }
}
